@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Utilisation des valeurs HSL pour Tailwind */
    --background: 0 0% 98%; /* #fafafa en HSL */
    --foreground: 240 10% 20%; /* #30303d en HSL */

    --card: 0 0% 100%; /* #ffffff en HSL */
    --card-foreground: 240 10% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 20%;

    --primary: 270 84% 56%; /* #9333ea en HSL */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 65%; /* #a3a3ad en HSL */
    --secondary-foreground: 240 10% 20%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 40%;

    --accent: 270 84% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 134 61% 41%; /* #28a745 en HSL */
    --success-foreground: 0 0% 100%;

    --danger: 354 70% 54%; /* #dc3545 en HSL */
    --danger-foreground: 0 0% 100%;

    --border: 240 5% 84%;
    --input: 240 5% 84%;
    --ring: 270 84% 56%;

    --radius: 0.5rem;
  }

  /* Nous gardons la classe .dark pour permettre un basculement ultérieur si nécessaire */
  .dark {
    --background: 240 3% 9%; /* #171719 en HSL */
    --foreground: 0 0% 86%; /* #dbdbdb en HSL */

    --card: 240 3% 9%;
    --card-foreground: 0 0% 86%;

    --popover: 240 3% 9%;
    --popover-foreground: 0 0% 86%;

    --primary: 270 84% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 86%; /* #dbdbdb en HSL */
    --secondary-foreground: 240 3% 9%;

    --muted: 240 3% 15%;
    --muted-foreground: 0 0% 70%;

    --accent: 270 84% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 134 61% 41%;
    --success-foreground: 0 0% 100%;

    --danger: 354 70% 54%;
    --danger-foreground: 0 0% 100%;

    --border: 240 3% 15%;
    --input: 240 3% 15%;
    --ring: 270 84% 56%;
  }

  /* Ajout des polices personnalisées */
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
